<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trendy Blogs - Reader Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div id="menu-bar" class="fa-solid fa-bars"></div>
        <a href="/home" class="logo">Trendy Blogs</a>
        <nav class="navbar">
            <a href="/home">Home</a>
        </nav>
    </header>


    <section class="article-content topi">

        <div class="container" style="max-width: 800px; margin: auto; padding: 20px;">
            <div style="text-align: left; max-width: 800px; margin: auto; padding: 20px;">
                <h1 class="heading" style="font-size: 3rem; margin-bottom: 1rem;">Exploring the Mountains</h1>
                <div
                    style="display: flex; justify-content: space-between; align-items: center; font-size: 1.5rem; margin-bottom: 20px;">
                    <p>
                        <i class="fa-solid fa-calendar-day" style="margin-right: 10px;"></i>
                        <strong>Published on:</strong> 2023-01-01
                    </p>
                    <p>
                        <i class="fa-solid fa-eye" style="margin-right: 10px;"></i>
                        <strong>Views:</strong> 100,
                        <i class="fa-solid fa-heart" style="margin-right: 10px; margin-left: 10px;"></i>
                        <strong>Likes:</strong> 50
                    </p>
                </div>

            </div>

            <article
                style="background-color: #f9f9f9; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.8); text-align: left;font-size: 1.5rem;">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam temporibus expedita nesciunt?
                Dignissimos quaerat consequatur distinctio exercitationem ducimus provident dolorem ullam? Ad nostrum
                numquam cumque officia assumenda! Aliquid, debitis laborum hic mollitia harum minima nobis tenetur
                perferendis velit labore dolor necessitatibus quibusdam? Et aliquid voluptatibus dolor culpa nostrum!
                Quia consequatur blanditiis quibusdam itaque velit. Quia accusantium optio aliquam veniam consectetur
                consequatur dicta eius tempora doloribus fugit, a eos in at nihil, maiores deserunt sapiente numquam
                quos doloremque, velit omnis perspiciatis ab! Nemo nihil, quia cupiditate tenetur voluptatem
                exercitationem nesciunt molestiae expedita doloribus ab sequi tempora vel porro culpa. Quos, voluptatem?
                Placeat odio recusandae eveniet. Alias nostrum eveniet atque similique nesciunt velit molestiae impedit
                voluptas culpa quibusdam facilis minus est, facere sapiente laudantium inventore nobis id, a aut
                cupiditate cum voluptates veritatis. Corrupti reprehenderit consequuntur magnam doloribus, minus
                blanditiis reiciendis odio quidem ab quasi quibusdam esse soluta quas adipisci debitis animi distinctio,
                nam sapiente laboriosam, magni repellat vero? Eligendi repellendus assumenda vitae enim. Ipsum quibusdam
                beatae harum nihil ullam nobis magnam provident sunt quaerat assumenda aliquid blanditiis fugit natus
                sit, id tempora neque consequuntur quo reprehenderit quod porro? Nulla aut, inventore officiis, nesciunt
                eius dolor, ullam in officia perferendis ducimus accusantium? Deleniti quas voluptatibus necessitatibus
                sed quo sint et est ea labore sapiente recusandae ratione, dolorem optio veritatis aperiam atque veniam
                tenetur inventore nemo dignissimos temporibus similique quae nulla ipsum. Sequi quo voluptates nam
                quisquam quos blanditiis ullam iure eveniet modi officiis provident hic in, beatae officia quod
                reprehenderit dolorum cumque necessitatibus? Ipsam quaerat perspiciatis repudiandae quis, aliquam
                quibusdam ut commodi nulla. Enim, maxime corrupti! A mollitia vero similique esse quaerat impedit,
                consectetur ea quis consequuntur. Explicabo nihil tempora provident eos! Illo cum magnam odit possimus
                ad accusantium, tempore ratione assumenda exercitationem! Sit itaque eaque quis nostrum tempore,
                suscipit mollitia assumenda optio accusamus ut. Excepturi exercitationem atque laudantium, consequatur
                iusto illum minima sapiente temporibus beatae distinctio, animi illo quae fugit veritatis eos ea
                cupiditate. Minus eligendi fuga, harum exercitationem cupiditate at soluta ea numquam corrupti
                voluptatibus aspernatur itaque deleniti placeat, nobis quisquam ullam. Minus eius, animi aut illum
                numquam eaque laudantium explicabo totam ab, accusamus velit possimus facere? Perferendis dolorem
                debitis voluptatum odit error quia sunt, consectetur adipisci accusantium rerum culpa enim alias
                praesentium eaque quaerat, minus dicta magni doloremque nesciunt, natus dolorum neque expedita.
                Excepturi ab est quaerat recusandae. Dolorem facilis, doloremque quisquam, aut harum voluptate quaerat
                minus illum repudiandae sequi ipsum cumque. Temporibus tempore nesciunt aut vero laborum facere amet
                illum a sed hic voluptatum cumque est enim aspernatur, aliquam repudiandae itaque dignissimos ab,
                dolorum iusto officiis ipsa suscipit. Quidem tempora voluptatem optio nesciunt beatae, expedita
                exercitationem fuga deleniti magnam at eveniet commodi unde dolores laudantium esse quae quo impedit
                vero ullam tenetur nulla. Tempora adipisci totam, saepe facere, quos voluptatem consequatur ipsa, in
                facilis esse voluptas aperiam assumenda debitis quasi ex voluptates dignissimos nemo. Nam neque ipsa
                odit aliquid repudiandae repellendus, expedita est autem sequi veritatis vero voluptatem deserunt
                voluptates vitae labore. Mollitia, sunt laboriosam veniam consequatur eum repudiandae harum debitis
                similique, officia accusamus est itaque tenetur nihil et earum incidunt odit. Veritatis debitis natus at
                fugit quibusdam esse perspiciatis itaque optio, eius aliquid quaerat blanditiis dolor? Voluptate
                voluptatem molestiae odio. Laboriosam veniam repellendus eaque ut, sunt ipsum alias odio natus aliquid
                at? Nesciunt, inventore? Facere quidem tenetur quaerat, maiores esse odio nesciunt ducimus sequi quis
                voluptate dolorum accusantium eligendi, molestiae animi? Magni tempora modi temporibus hic mollitia
                ullam earum sint nemo! Sit error ipsam tempora accusamus sed corrupti nihil ipsum, tempore doloremque
                laudantium! Inventore non quidem, dicta ipsum impedit architecto? Ex explicabo ea at fugit a ut
                doloribus veritatis corporis aliquid beatae hic labore rerum nihil iure, sed incidunt rem natus sapiente
                ipsam pariatur praesentium tempora excepturi ab provident. Reprehenderit natus quos perspiciatis error
                suscipit temporibus dolorem libero atque numquam enim eveniet id at dicta est esse, eligendi quae ad
                quaerat dolorum sed adipisci, quisquam dolores eum. Mollitia, officia animi? Vel fugiat vitae quis
                asperiores quidem sunt iusto modi magni. A alias consequatur blanditiis, magni placeat architecto maxime
                aperiam accusantium quaerat fugit voluptatibus dicta quae nisi dolor eveniet minus illo! Optio
                cupiditate magni quidem eum hic accusamus dicta dolore doloribus dolorem dolorum quae quod, debitis
                labore deserunt, suscipit quibusdam iste assumenda saepe! In quae facilis porro dolor nulla, a totam
                ullam possimus recusandae dolorum non debitis quia odit ut enim quod ducimus inventore! Quam beatae
                omnis, sit quaerat debitis, pariatur autem labore fuga a nostrum nihil asperiores cupiditate! Aspernatur
                distinctio numquam ipsum voluptatibus obcaecati doloribus voluptates minima placeat sunt possimus
                suscipit facilis quidem, libero molestias consequuntur, nesciunt labore excepturi consectetur? Sapiente
                ipsam veniam laudantium ad recusandae quod, earum cumque necessitatibus sed iusto ut quis optio, quae,
                reprehenderit voluptatum perferendis numquam illum perspiciatis! Fuga expedita vitae illo, soluta vel,
                architecto nostrum sit eveniet corporis consequatur excepturi, explicabo laborum sint similique quos
                voluptatibus! Explicabo sit, rerum repellat dolorum facere laudantium aut voluptatibus nostrum.
                Corporis, ut a molestias nobis quaerat fuga, cumque ratione soluta veniam maxime id nesciunt fugiat
                minima voluptatibus iusto magnam eligendi facilis? Labore sequi voluptatibus animi consequuntur illo
                distinctio optio eum hic possimus, esse corrupti, ducimus nostrum voluptatem odio ullam est quam at
                iste, dolorem ut quo? Maxime aperiam modi nulla ducimus quos labore! Quas molestiae cum aliquam quam est
                illum atque, saepe, sint quibusdam suscipit, accusantium eaque fugit eveniet? Quod, eos voluptate! Sit
                tenetur possimus ipsa provident repellendus reprehenderit repellat, numquam nostrum. Sequi officia ipsa,
                reprehenderit exercitationem laborum, soluta vitae nisi, eius ullam corporis nesciunt nemo iste. Culpa
                blanditiis enim nihil molestiae harum laborum, fugit consequatur obcaecati placeat exercitationem. Nam
                saepe, amet eius nobis est magnam, consequatur explicabo officiis quaerat asperiores aliquid ipsa
                veniam? Vero iure cumque iusto autem minima tempora dicta consequatur nostrum. Alias tempore suscipit
                nostrum minima, nihil dolor reprehenderit nobis, minus aliquid libero quibusdam maiores illo excepturi
                nesciunt culpa molestiae amet quisquam sapiente, similique nisi incidunt magnam magni voluptates beatae?
                Vero esse at neque dolor quo sint atque ipsam, deleniti voluptate natus eveniet numquam dignissimos
                fugiat ipsa fugit, voluptatibus doloremque incidunt, aperiam vitae assumenda odit obcaecati! Hic magnam
                possimus, placeat error aperiam asperiores earum dolorum! Tempora voluptatum voluptates delectus
                repudiandae ipsa, possimus dolor illo, quisquam laborum esse nam qui illum nisi! Nostrum sint
                repudiandae aperiam quidem dicta fugit est iure facere aliquid possimus nesciunt asperiores perferendis
                ipsum porro atque nobis doloremque soluta, ullam excepturi ducimus amet! Maxime quisquam odit debitis
                quae molestias perspiciatis quia! Consectetur necessitatibus rerum modi laboriosam laborum vitae, sit
                recusandae sint facere commodi illum, cum, nemo fugit molestias? Corrupti, veniam repudiandae beatae
                quae repellat fuga ipsam aspernatur ut nemo quidem voluptatibus! Accusamus, rerum? Ipsum dolorum iusto
                quos dolor fuga labore illo explicabo, nulla amet quo. Laboriosam voluptas ea eligendi veritatis fugit,
                soluta natus pariatur doloremque? Distinctio quo tempora impedit atque voluptate mollitia voluptatibus
                rerum beatae. Cupiditate quae dolor blanditiis quam a quas reiciendis, fugit autem neque repellendus
                omnis fugiat aliquam consequatur explicabo facere maiores. Repellendus tenetur blanditiis accusantium
                iste ipsa culpa. Beatae in eos quae dicta pariatur, facilis, et quas magnam harum ex excepturi, aperiam
                architecto repudiandae necessitatibus? Error cumque alias nesciunt magni totam exercitationem quisquam
                expedita a unde! Consectetur odio aliquid non aspernatur libero nobis illum id, autem esse doloribus
                molestiae corporis beatae cupiditate nesciunt temporibus nisi natus ratione, tempore fuga tempora eos.
                Alias molestiae saepe veniam ut et consectetur exercitationem qui voluptatem ea unde accusantium atque
                nemo iure corporis ratione ducimus placeat dignissimos nam, culpa in nisi! Quas, accusamus commodi
                incidunt enim, excepturi praesentium recusandae impedit molestias id velit aspernatur officia possimus
                a. Voluptatem facilis fugiat itaque qui exercitationem. Distinctio, dignissimos. Consequuntur doloribus
                alias quam harum, natus ipsa perferendis minima debitis inventore aliquam! Aperiam iusto labore
                assumenda quis, adipisci voluptatibus quaerat voluptatem vitae possimus perferendis atque eius,
                consequuntur consectetur enim est? Ex ut velit quasi tempora ipsam, possimus modi cum iste praesentium
                ipsum? Soluta, voluptatum vero iusto aspernatur quia ut? Odio doloremque exercitationem vel neque autem?
                Inventore, consequuntur omnis. Officia distinctio a aut laborum consequatur, voluptatem dolorum
                inventore incidunt reiciendis in vero nesciunt? Dolore ad repudiandae officiis commodi nobis animi
                blanditiis neque fugit, nisi a inventore quisquam natus deleniti praesentium dolores delectus
                reprehenderit tempora at odio, rerum ducimus, veritatis suscipit? Alias iste ad delectus debitis.
            </article>

            <div class="interaction-section"
                style="display: flex; justify-content:flex-start; align-items: center; margin-top: 20px;">
                <button class="btn" style="padding: 1rem 1.5rem; font-size: 1.5rem; width: auto;margin-right: 10px;">
                    <i class="fa-solid fa-heart"></i> Like
                </button>

            </div>



            <div class="comment-form" style="margin-top: 20px;">
                <form action="/post-comment" method="POST" class="comment-form" style="margin-top: 2rem;">
                    <input type="text" name="commenterName" placeholder="Your Name" required
                        style="padding: 1rem; margin-bottom: 1rem; width: 100%;">
                    <textarea name="comment" placeholder="Your Comment" required
                        style="padding: 1rem; width: 100%; margin-bottom: 1rem;"></textarea>
                    <button type="submit" class="btn" style="padding: 1rem 1.5rem; font-size: 1.5rem; width: auto;">
                        <i class="fa-solid fa-book"></i> Post Comment
                    </button>
                </form>
            </div>
            <div class="comments-section"
                style="background-color: #f9f9f9; padding: 20px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.8);margin-top: 15px;">
                <h1 class="heading" style="font-size: 2rem; margin-bottom: 1rem; text-align: left;">Comments
                </h1>
                <!-- Dummy Comment 1 -->
                <div class="comment" style="padding: 1rem; border-bottom: 1px solid #ddd; margin-bottom: 1rem;">
                    <p style="font-weight: bold; color: var(--black); margin-bottom: 0.5rem;">John Doe</p>
                    <p style="margin-bottom: 0.5rem; color: var(--black);">This article was very informative and
                        well-written. Thanks for sharing!</p>
                    <p style="font-size: 0.9rem; color: #666;">Posted on 2023-01-02</p>
                </div>

                <!-- Dummy Comment 2 -->
                <div class="comment" style="padding: 1rem; border-bottom: 1px solid #ddd; margin-bottom: 1rem;">
                    <p style="font-weight: bold; color: var(--black); margin-bottom: 0.5rem;">Alice Johnson</p>
                    <p style="margin-bottom: 0.5rem; color: var(--black);">Great read! Looking forward to more articles
                        like
                        this.</p>
                    <p style="font-size: 0.9rem; color: #666;">Posted on 2023-01-03</p>
                </div>
            </div>
        </div>
        <a href="/reader-home" class="btn" style="display: block; width: max-content; margin: 20px auto;">Back to Reader
            Home</a>
    </section>


    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>About Trendy Blogs</h3>
                <a href="/about">About Us</a>
                <a href="/blog">Blog</a>
                <a href="/team">Our Team</a>
                <a href="/contact">Contact Us</a>
            </div>
            <div class="box">
                <h3>Resources</h3>
                <a href="/guides">Guides</a>
                <a href="/categories">Categories</a>
                <a href="/faq">FAQs</a>
                <a href="/support">Support</a>
            </div>
            <div class="box">
                <h3>Follow Us</h3>
                <a href="https://www.facebook.com">Facebook</a>
                <a href="https://www.twitter.com">Twitter</a>
                <a href="https://www.instagram.com">Instagram</a>
                <a href="https://www.youtube.com">YouTube</a>
            </div>
            <div class="box">
                <h3>Legal</h3>
                <a href="/privacy-policy">Privacy Policy</a>
                <a href="/terms-of-service">Terms of Service</a>
                <a href="/cookie-policy">Cookie Policy</a>
                <a href="/disclaimer">Disclaimer</a>
            </div>
        </div>
    </section>
</body>

</html>